fastapi
# jinja2
# python-multipart
uvicorn
asyncio
# pytest
requests
python-dotenv

# sqlalchemy
# cityhash
# fastembed
# redis
# rq
# rq-dashboard
# pyarango

numpy
pandas

# Faker
# markdown

# google-generativeai

transformers
ctransformers[cuda]
sentence-transformers

qdrant-client
